.tile {
    padding: 12px;
    width: 200px;    
    color: #000;
    margin-bottom: 12px;
    text-align: center;
}

.home.tile {
    background: #000;
    background-image: url('../../assets/placeholder.png');
    width: 160px;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

a .home.tile {
    color: #fff;
    text-transform: uppercase;
}

.tile img {
    width:80%;
    height: auto;
}

.tile h4 {
    margin: 0;
}

.flex-grid {
    display: flex;
    flex-flow: row wrap;
}

.flex-grid .col {
    flex: 1;
}

@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
}

@media (max-width:992px) {
    .col {
        flex-basis: 25%;
    }
}

@media (max-width:640px) {
    .col {
        flex-basis: 50%;
    }
}