body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.header h1, .sub-header h2 {
    color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    box-shadow: 0px 10px 10px 0px rgba(176,176,176,1);
    background: rgba(0,152,254,1);
    padding: 12px;
}

.header a {
    padding: 12px;
}

.header button {
    background: rgba(55,51,51,1);    
    padding: 12px;
    color: #fff;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,1);
    margin-left: 24px;
}

.sub-header {
    box-shadow: 0px 10px 10px 0px rgba(176,176,176,1);
    background: rgba(55,51,51,1);    
    padding: 12px;
}

.content {
    padding: 24px;
    min-height: 640px;    
}

.tile {
    padding: 12px;
    width: 200px;    
    color: #000;
    margin-bottom: 12px;
    text-align: center;
}

.home.tile {
    background: #000;
    width: 160px;
    height: 240px;
}

a .home.tile {
    color: #fff;
    text-transform: uppercase;
}

.tile img {
    width:80%;
    height: auto;
}

.tile h4 {
    margin: 0;
}


.footer {
    background: #000;
    color: #fff;
    min-height: 240px;
    padding: 24px;
}

.footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

.footer li {
    list-style: none;
    display: inline-block;    
    color: #fff;    
    padding: 4px 12px;
    font-size: 10pt;
}

.footer .footer-links li {
    border-right: solid 1px #fff;
}

.footer .footer-links li:first-child {
    padding-left: 0;
}

.footer .footer-links li:last-child {
    border: none;
}

.footer .copyright {
    font-size: 8pt;
    color: #fff;
}

.footer .social img {
    width: 20px;
}

.footer .app-stores img {
    width: 120px;
}

.flex-grid {
    display: flex;
    flex-flow: row wrap;
}

.flex-grid .col {
    flex: 1;
}

@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
}

@media (max-width:992px) {
    .col {
        flex-basis: 25%;
    }
}

@media (max-width:640px) {
    .col {
        flex-basis: 50%;
    }
}